@model ViewCourseViewModel

@{
    ViewData["Title"] = "View Course";
}


<div class="grid-cols-7 mx-10 grid w-full gap-2">

    <div class="col-span-4">
        @* content of post*@

        <div class="">

            <h1 class="font-bold text-[35px]">@Model.Title</h1>

            <div class="border-2 mt-14 flex flex-row flex-wrap items-center gap-10 rounded border-gray-50 p-2 shadow">

                <div class="inline-flex items-center gap-2">


                    <svg class="flex-shrink-0" width="35" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M21.0802 8.58003V15.42C21.0802 16.54 20.4802 17.58 19.5102 18.15L13.5702 21.58C12.6002 22.14 11.4002 22.14 10.4202 21.58L4.48016 18.15C3.51016 17.59 2.91016 16.55 2.91016 15.42V8.58003C2.91016 7.46003 3.51016 6.41999 4.48016 5.84999L10.4202 2.42C11.3902 1.86 12.5902 1.86 13.5702 2.42L19.5102 5.84999C20.4802 6.41999 21.0802 7.45003 21.0802 8.58003Z" stroke="#ffa200" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> <path opacity="0.4" d="M11.9999 10.9998C13.2867 10.9998 14.3299 9.95662 14.3299 8.6698C14.3299 7.38298 13.2867 6.33984 11.9999 6.33984C10.7131 6.33984 9.66992 7.38298 9.66992 8.6698C9.66992 9.95662 10.7131 10.9998 11.9999 10.9998Z" stroke="#ffa200" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> <path opacity="0.4" d="M16 16.6599C16 14.8599 14.21 13.3999 12 13.3999C9.79 13.3999 8 14.8599 8 16.6599" stroke="#ffa200" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>


                    <span class="whitespace-nowrap">
                        @((Model.User.Name ?? Model.User.UserName))
                    </span>


                </div>


                <div class="inline-flex items-center gap-2">

                    <svg class="flex-shrink-0" width="35" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier"> <path opacity="0.4" d="M18.6695 2H16.7695C14.5895 2 13.4395 3.15 13.4395 5.33V7.23C13.4395 9.41 14.5895 10.56 16.7695 10.56H18.6695C20.8495 10.56 21.9995 9.41 21.9995 7.23V5.33C21.9995 3.15 20.8495 2 18.6695 2Z" fill="#f88425"></path> <path opacity="0.4" d="M7.24 13.4302H5.34C3.15 13.4302 2 14.5802 2 16.7602V18.6602C2 20.8502 3.15 22.0002 5.33 22.0002H7.23C9.41 22.0002 10.56 20.8502 10.56 18.6702V16.7702C10.57 14.5802 9.42 13.4302 7.24 13.4302Z" fill="#f88425"></path> <path d="M6.29 10.58C8.6593 10.58 10.58 8.6593 10.58 6.29C10.58 3.9207 8.6593 2 6.29 2C3.9207 2 2 3.9207 2 6.29C2 8.6593 3.9207 10.58 6.29 10.58Z" fill="#f88425"></path> <path d="M17.7099 21.9999C20.0792 21.9999 21.9999 20.0792 21.9999 17.7099C21.9999 15.3406 20.0792 13.4199 17.7099 13.4199C15.3406 13.4199 13.4199 15.3406 13.4199 17.7099C13.4199 20.0792 15.3406 21.9999 17.7099 21.9999Z" fill="#f88425"></path> </g>
                    </svg>


                    <span class="whitespace-nowrap">
                        @Model.Category.Title
                    </span>


                </div>


                <div class="inline-flex items-center gap-2">

                    <svg class="flex-shrink-0" width="35" viewBox="0 0 1024 1024" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M 948.3 959.466 H 74.243 c -36.773 0 -66.6283 -29.8553 -66.6283 -66.6283 V 288.692 c 0 -36.773 29.8553 -66.6283 66.6283 -66.6283 h 874.055 c 36.773 0 66.6283 29.8553 66.6283 66.6283 v 604.145 c 0 36.8944 -29.8553 66.6283 -66.6283 66.6283 Z" fill="#ffe5cf"></path><path d="M 1014.93 456.052 V 288.692 c 0 -36.773 -29.8553 -66.6283 -66.6283 -66.6283 H 74.243 c -36.773 0 -66.6283 29.8553 -66.6283 66.6283 v 167.359 h 1007.31 Z" fill="#f75e5e"></path><path d="M 244.637 366.365 h -9.46631 c -18.6899 0 -34.1029 -15.2917 -34.1029 -34.1029 V 101.55 c 0 -18.6899 15.2917 -34.1029 34.1029 -34.1029 h 9.46631 c 18.6899 0 34.1029 15.2917 34.1029 34.1029 V 332.383 c 0 18.6899 -15.4131 33.9817 -34.1029 33.9817 Z M 787.493 366.365 h -9.46631 c -18.6899 0 -34.1029 -15.2917 -34.1029 -34.1029 V 101.55 c 0 -18.6899 15.2917 -34.1029 34.1029 -34.1029 h 9.46631 c 18.6899 0 34.1029 15.2917 34.1029 34.1029 V 332.383 c -0.121363 18.6899 -15.4131 33.9817 -34.1029 33.9817 Z" fill="#ff8882"></path><path d="M 746.716 629.479 c 0 -73.7887 -59.832 -133.62 -133.62 -133.62 c -40.7779 0 -77.3083 18.2045 -101.823 46.9675 c -24.5153 -28.763 -61.0455 -46.9675 -101.823 -46.9675 c -73.7887 0 -133.62 59.832 -133.62 133.62 c 0 38.7148 17.8403 71.1187 42.8411 98.0613 l 193.089 185.564 l 189.812 -183.622 c 24.0299 -25.0007 45.147 -60.1961 45.147 -100.003 Z" fill="#f75e5e"></path><path d="M 443.916 758.245 V 622.683 c -13.8354 12.1363 -31.9184 20.9957 -54.6133 26.4571 v -16.5054 c 26.4571 -12.6218 44.6615 -30.3408 54.6133 -52.9142 h 28.8844 v 178.525 h -28.8844 Z M 582.755 758.245 v -38.8362 h -85.1968 v -19.054 l 85.925 -120.635 h 27.3067 v 120.635 h 22.3308 v 19.054 h -22.3308 v 38.8362 h -28.0349 Z m 0 -139.689 l -57.8901 81.7986 h 57.8901 v -81.7986 Z" fill="#ffffff"></path></g></svg>


                    <span class="whitespace-nowrap">
                        آخرین بروزرسانی:
                        @Model.CreatedAt.ToString("yyyy/MM/dd", new System.Globalization.CultureInfo("fa-IR"))
                    </span>


                </div>



                <div class="inline-flex items-center gap-2">


                    <svg viewBox="0 0 64 64" width="35" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--emojione" preserveAspectRatio="xMidYMid meet" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M14 4.5v55c0 3.4 6 3.4 6 0v-55c0-3.3-6-3.3-6 0" fill="#333"> </path> <path d="M6.6 42h20.8c2.5 0 4.6-2.3 4.6-5s-2.1-5-4.6-5H6.6C4.1 32 2 34.3 2 37s2.1 5 4.6 5" fill="#6d7275"> </path> <path d="M6.9 39.6h20.2c2.4 0 4.5-1.7 4.5-3.8s-2-3.8-4.5-3.8H6.9c-2.4 0-4.5 1.7-4.5 3.8s2 3.8 4.5 3.8" fill="#94989b"> </path> <g fill="#5b636b"> <path d="M59 10H39c-4 0-4-6 0-6h20c4 0 4 6 0 6"> </path> <path d="M57 20H39c-4 0-4-6 0-6h18c4 0 4 6 0 6"> </path> <path d="M55 30H39c-4 0-4-6 0-6h16c4 0 4 6 0 6"> </path> </g> <g fill="#c7e755"> <path d="M53 40H39c-4 0-4-6 0-6h14c4 0 4 6 0 6"> </path> <path d="M51 50H39c-4 0-4-6 0-6h12c4 0 4 6 0 6"> </path> <path d="M49 60H39c-4 0-4-6 0-6h10c4 0 4 6 0 6"> </path> </g> </g></svg>


                    <span class="whitespace-nowrap">
                        @Model.Lavel
                    </span>


                </div>



                <div class="inline-flex items-center gap-2">


                    <svg  width="35" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path style="fill:#5286F9;" d="M402.14,149.373l27.951-27.949c8.82-8.821,8.821-23.123,0-31.944c-8.82-8.821-23.123-8.82-31.944,0 l-32.005,32.003c-26.008-16.002-55.733-26.514-87.553-29.919V45.176h67.765c12.475,0,22.588-10.114,22.588-22.588 S358.828,0,346.353,0H256h-90.353c-12.475,0-22.588,10.114-22.588,22.588s10.114,22.588,22.588,22.588h67.765v46.387 c-31.822,3.405-61.547,13.919-87.555,29.919L113.854,89.48c-8.818-8.821-23.121-8.821-31.944,0c-8.821,8.82-8.821,23.123,0,31.944 l27.949,27.951c-39.849,38.376-64.682,92.24-64.682,151.802C45.176,417.425,139.752,512,256,512s210.824-94.575,210.824-210.824 C466.824,241.614,441.99,187.75,402.14,149.373z"></path> <path style="fill:#BDFDFF;" d="M256,135.528c-91.338,0-165.647,74.309-165.647,165.649c0,91.338,74.309,165.647,165.647,165.647 s165.647-74.309,165.647-165.647C421.647,209.837,347.338,135.528,256,135.528z"></path> <path style="fill:#2D50A7;" d="M353.852,278.683h-75.264v-75.267c0-12.475-10.113-22.588-22.588-22.588 c-12.475,0-22.588,10.114-22.588,22.588v97.855c0,12.475,10.114,22.588,22.588,22.588h97.852c12.475,0,22.588-10.114,22.588-22.588 C376.44,288.797,366.328,278.683,353.852,278.683z"></path> <path style="fill:#81E5EE;" d="M256,466.824V323.86c-12.475,0-22.588-10.114-22.588-22.588v-97.855 c0-12.475,10.114-22.588,22.588-22.588v-45.3c-91.338,0-165.647,74.309-165.647,165.649C90.353,392.514,164.662,466.824,256,466.824 z"></path> <path style="fill:#3D6DEB;" d="M90.353,301.176c0-91.339,74.309-165.649,165.647-165.649V0h-90.353 c-12.475,0-22.588,10.114-22.588,22.588s10.114,22.588,22.588,22.588h67.765v46.387c-31.822,3.405-61.547,13.919-87.555,29.919 L113.854,89.48c-8.818-8.821-23.121-8.821-31.944,0c-8.821,8.82-8.821,23.123,0,31.944l27.949,27.951 c-39.849,38.376-64.682,92.24-64.682,151.802C45.176,417.425,139.752,512,256,512v-45.176 C164.662,466.824,90.353,392.514,90.353,301.176z"></path> </g></svg>

                    <span class="whitespace-nowrap">
                        @Model.Duration
                    </span>


                </div>



                <div class="inline-flex items-center gap-2">

                    @if(Model.ContentType == ContentType.Video)
                    {
                        <svg viewBox="0 0 256 256" width="35" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M35.34,42.231c5.91,0.088 12.356,0.707 18.631,0.997c0,0 5.633,1.484 5.722,5.872c0.064,3.169 -2.732,6.128 -6.01,6.122c-5.929,-0.011 -12.148,-0.672 -18.097,-0.981c-2.209,-0.094 -4.985,0.497 -5.706,1.972c0,0 -0.006,11.891 -0.006,11.891c0,0 -2.022,7.169 -7.447,5.821c-2.576,-0.64 -4.494,-3.144 -4.553,-5.825l0.004,-11.972c0.075,-8.083 9.037,-13.943 17.462,-13.897Z" style="fill:#1d61e1;fill-opacity:0.290196;fill-rule:nonzero;"></path><path d="M231.079,155.415c0.978,0.043 1.271,0.136 1.822,0.326c2.369,0.817 3.981,2.798 4.044,5.674l-0.003,11.972c-0.079,8.426 -9.974,14.304 -18.477,13.863c-5.863,-0.358 -11.74,-0.691 -17.617,-0.963c0,0 -4.512,-1.008 -5.48,-4.302c-1.038,-3.535 1.834,-7.699 5.768,-7.691c5.929,0.011 12.148,0.671 18.098,0.98c2.206,0.094 4.984,-0.497 5.705,-1.971c0,0 0.006,-11.891 0.006,-11.891c0,0 0.959,-5.781 5.869,-5.997c0.088,0 0.177,0 0.265,0Z" style="fill:#1d61e1;fill-opacity:0.290196;fill-rule:nonzero;"></path><path d="M100.706,199.292c-24.359,0.84 -48.585,2.928 -72.448,6.347c-1.556,0.222 -3.733,0.54 -3.733,0.54c-11.662,1.38 -23.352,-8.08 -23.607,-20.551c-0.289,-42.436 -0.002,-84.769 0.003,-127.122l0.002,-14.221c0,0 0.128,-4.078 1.299,-7.251c3.154,-8.542 12.267,-14.419 21.588,-13.636c66.139,6.435 133.708,6.73 200.217,0.695c2.744,-0.249 5.486,-0.518 8.227,-0.776c0,0 0.702,-0.094 2.21,-0.076c10.783,0.265 20.396,9.542 20.618,20.719c0.309,47.21 0.003,94.335 -0.011,141.532c0,0 -0.134,4.181 -1.363,7.421c-3.307,8.722 -12.862,14.558 -22.376,13.365c-26.207,-3.649 -52.741,-5.999 -79.307,-6.943l0.001,0.044l0,5.878c15.996,2.139 31.752,6.107 46.937,11.438c0,0 4.243,1.819 4.555,5.332c0.319,3.603 -3.267,7.006 -6.871,6.463c-1.716,-0.259 -1.996,-0.591 -2.79,-0.868c-42.618,-14.74 -89.902,-16.767 -133.209,0.508c0,0 -3.387,0.814 -5.473,-0.53c-3.702,-2.386 -3.549,-8.8 1.549,-10.825c14.217,-5.646 28.976,-9.52 43.979,-11.576l0,-5.82l0.003,-0.087Zm133.305,-164.054c-6.231,0.092 -13.359,1.223 -20.194,1.774c-60.569,4.884 -121.882,4.784 -182.565,-0.838c-4.004,-0.371 -8.257,-1.521 -11.787,-0.521c-3.694,1.046 -6.463,4.625 -6.541,8.533c-0.312,47.102 -0.328,94.181 -0.007,141.278c0.103,5.025 4.817,9.434 10.116,8.807c17.904,-2.367 35.924,-4.614 54.005,-5.87c50.801,-3.53 101.921,-1.466 152.431,5.499c6.12,0.844 13.448,-0.767 13.602,-8.306c0.316,-47.083 0.321,-94.277 0.012,-141.476c-0.092,-4.603 -3.973,-8.697 -8.718,-8.876c-0.118,-0.003 -0.236,-0.004 -0.354,-0.004Z" style="fill:#1d61e1;fill-rule:nonzero;"></path><circle cx="128" cy="115.258" r="46.156" style="fill:#1d61e1;fill-opacity:0.290196;"></circle><path d="M128.336,63.103c19.003,0.181 37.448,11.518 46.107,28.413c7.249,14.144 7.526,31.683 0.7,46.065c-11.141,23.471 -41.263,36.436 -66.853,25.973c-16.693,-6.826 -29.278,-22.841 -31.893,-40.688c-2.391,-16.314 3.491,-33.649 15.399,-45.139c9.43,-9.099 22.236,-14.41 35.532,-14.621c0.336,-0.003 0.672,-0.004 1.008,-0.003Zm-0.596,12c-18.313,0.174 -35.389,14.05 -39.079,32.062c-2.683,13.095 1.702,27.453 11.294,36.82c11.083,10.821 28.666,14.41 43.214,8.461c16.928,-6.922 27.662,-26.479 24.314,-44.545c-3.324,-17.934 -20.139,-32.38 -38.704,-32.792c-0.346,-0.005 -0.693,-0.007 -1.039,-0.006Z" style="fill:#1d61e1;fill-rule:nonzero;"></path><path d="M113.256,90.44c0.815,0.067 1.6,0.275 2.343,0.623l40.23,20.115c3.826,2.038 4.442,8.227 0.272,10.588c-0.089,0.051 -0.182,0.097 -0.272,0.145l-40.23,20.115c-2.475,1.16 -3.069,0.726 -4.158,0.449c-2.594,-0.658 -4.447,-2.736 -4.525,-5.816l0,-40.229c0.025,-0.993 0.109,-1.269 0.277,-1.803c0.772,-2.45 2.746,-4.138 5.758,-4.197c0.102,0.003 0.203,0.006 0.305,0.01Z" style="fill:#1d61e1;"></path></g></svg>
                        
                    }

                    @if(Model.ContentType == ContentType.Text)
                    {
                        <svg viewBox="0 0 256 256" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M191.33,62.954c1.527,0.181 1.928,0.415 2.664,0.866c3.049,1.868 3.769,6.697 1.107,9.358c-1.111,1.112 -2.657,1.695 -4.242,1.758l-96.868,0c-1.537,-0.061 -1.955,-0.262 -2.724,-0.654c-3.327,-1.695 -4.297,-6.811 -1.519,-9.589c1.111,-1.111 2.657,-1.695 4.243,-1.757l96.868,0c0.157,0.006 0.314,0.012 0.471,0.018Z" style="fill:#1d61e1;fill-rule:nonzero;"></path><path d="M136.145,94.956c5.011,0.395 7.919,8.167 2.686,11.188c-0.635,0.367 -1.337,0.616 -2.062,0.73c-0.31,0.049 -0.624,0.066 -0.938,0.074l-41.84,0c-5.159,-0.135 -8.337,-8.115 -3,-11.196c0.635,-0.367 1.337,-0.615 2.061,-0.73c0.31,-0.049 0.624,-0.066 0.939,-0.074l41.84,0c0.105,0.003 0.209,0.006 0.314,0.008Z" style="fill:#1d61e1;fill-rule:nonzero;"></path><path d="M191.128,94.954c4.424,0.299 7.487,6.236 4.249,9.942c-1.123,1.285 -2.793,2.013 -4.518,2.052l-30.277,0c-4.361,-0.098 -7.649,-5.68 -4.854,-9.527c1.11,-1.526 2.945,-2.43 4.854,-2.473l30.277,0c0.09,0.002 0.179,0.004 0.269,0.006Z" style="fill:#1d61e1;fill-rule:nonzero;"></path><path d="M191.128,155.586c4.461,0.3 7.443,6.286 4.249,9.941c-1.123,1.286 -2.793,2.014 -4.518,2.053l-30.277,0c-4.548,-0.102 -7.823,-6.165 -4.518,-9.948c1.123,-1.285 2.793,-2.014 4.518,-2.052l30.277,0c0.09,0.002 0.179,0.004 0.269,0.006Z" style="fill:#1d61e1;fill-opacity:0.290196;fill-rule:nonzero;"></path><path d="M136.281,155.588c4.251,0.335 7.268,5.763 4.54,9.518c-1.108,1.525 -2.951,2.424 -4.854,2.474l-41.976,0c-5.115,-0.134 -8.274,-8.152 -3,-11.196c0.635,-0.367 1.337,-0.616 2.061,-0.73c0.31,-0.05 0.624,-0.066 0.939,-0.074l41.976,0c0.105,0.002 0.209,0.005 0.314,0.008Z" style="fill:#1d61e1;fill-rule:nonzero;"></path><path d="M191.26,124.725c4.371,0.44 7.291,6.181 4.181,9.86c-1.12,1.325 -2.225,2.048 -4.582,2.126l-68.019,0c-4.558,-0.152 -7.78,-6.091 -4.582,-9.873c1.12,-1.325 2.224,-2.048 4.582,-2.127l68.019,0c0.133,0.005 0.267,0.009 0.401,0.014Z" style="fill:#1d61e1;fill-opacity:0.290196;fill-rule:nonzero;"></path><path d="M100.706,199.292c-24.359,0.84 -48.585,2.928 -72.448,6.347c-1.556,0.222 -3.733,0.54 -3.733,0.54c-11.662,1.38 -23.352,-8.08 -23.607,-20.551c-0.289,-42.436 -0.002,-84.769 0.003,-127.122l0.002,-14.221c0,0 0.128,-4.078 1.299,-7.251c3.154,-8.542 12.267,-14.419 21.588,-13.636c66.139,6.435 133.708,6.73 200.217,0.695c2.744,-0.249 5.486,-0.518 8.227,-0.776c0,0 0.702,-0.094 2.21,-0.076c10.783,0.265 20.396,9.542 20.618,20.719c0.309,47.21 0.003,94.335 -0.011,141.532c0,0 -0.134,4.181 -1.363,7.421c-3.307,8.722 -12.862,14.558 -22.376,13.365c-26.207,-3.649 -52.741,-5.999 -79.307,-6.943l0.001,0.044l0,5.878c15.996,2.139 31.752,6.107 46.937,11.438c0,0 4.243,1.819 4.555,5.332c0.319,3.603 -3.267,7.006 -6.871,6.463c-1.716,-0.259 -1.996,-0.591 -2.79,-0.868c-42.618,-14.74 -89.902,-16.767 -133.209,0.508c0,0 -3.387,0.814 -5.473,-0.53c-3.702,-2.386 -3.549,-8.8 1.549,-10.825c14.217,-5.646 28.976,-9.52 43.979,-11.576l0,-5.82l0.003,-0.087Zm133.305,-164.054c-6.231,0.092 -13.359,1.223 -20.194,1.774c-60.569,4.884 -121.882,4.784 -182.565,-0.838c-4.004,-0.371 -8.257,-1.521 -11.787,-0.521c-3.694,1.046 -6.463,4.625 -6.541,8.533c-0.312,47.102 -0.328,94.181 -0.007,141.278c0.103,5.025 4.817,9.434 10.116,8.807c17.904,-2.367 35.924,-4.614 54.005,-5.87c50.801,-3.53 101.921,-1.466 152.431,5.499c6.12,0.844 13.448,-0.767 13.602,-8.306c0.316,-47.083 0.321,-94.277 0.012,-141.476c-0.092,-4.603 -3.973,-8.697 -8.718,-8.876c-0.118,-0.003 -0.236,-0.004 -0.354,-0.004Z" style="fill:#1d61e1;fill-rule:nonzero;"></path><path d="M80.029,64.248c0,-0.778 -0.309,-1.523 -0.858,-2.073c-0.55,-0.55 -1.296,-0.859 -2.073,-0.859c-2.612,0 -6.414,0 -9.025,0c-0.778,0 -1.523,0.309 -2.073,0.859c-0.55,0.55 -0.859,1.295 -0.859,2.073c0,2.698 0,6.678 0,9.376c0,0.777 0.309,1.523 0.859,2.073c0.55,0.549 1.295,0.858 2.073,0.858c2.611,0 6.413,0 9.025,0c0.777,0 1.523,-0.309 2.073,-0.858c0.549,-0.55 0.858,-1.296 0.858,-2.073c0,-2.698 0,-6.678 0,-9.376Z" style="fill:#1d61e1;"></path><path d="M80.029,96.26c0,-0.777 -0.309,-1.523 -0.858,-2.073c-0.55,-0.55 -1.296,-0.858 -2.073,-0.858c-2.612,0 -6.414,0 -9.025,0c-0.778,0 -1.523,0.308 -2.073,0.858c-0.55,0.55 -0.859,1.296 -0.859,2.073c0,2.698 0,6.678 0,9.376c0,0.778 0.309,1.523 0.859,2.073c0.55,0.55 1.295,0.859 2.073,0.859c2.611,0 6.413,0 9.025,0c0.777,0 1.523,-0.309 2.073,-0.859c0.549,-0.55 0.858,-1.295 0.858,-2.073c0,-2.698 0,-6.678 0,-9.376Z" style="fill:#1d61e1;"></path><path d="M80.029,156.892c0,-0.778 -0.309,-1.523 -0.858,-2.073c-0.55,-0.55 -1.296,-0.859 -2.073,-0.859c-2.612,0 -6.414,0 -9.025,0c-0.778,0 -1.523,0.309 -2.073,0.859c-0.55,0.55 -0.859,1.295 -0.859,2.073c0,2.698 0,6.678 0,9.376c0,0.777 0.309,1.523 0.859,2.073c0.55,0.549 1.295,0.858 2.073,0.858c2.611,0 6.413,0 9.025,0c0.777,0 1.523,-0.309 2.073,-0.858c0.549,-0.55 0.858,-1.296 0.858,-2.073c0,-2.698 0,-6.678 0,-9.376Z" style="fill:#1d61e1;"></path><path d="M108.879,126.023c0,-0.777 -0.309,-1.523 -0.859,-2.072c-0.55,-0.55 -1.295,-0.859 -2.073,-0.859c-2.612,0 -6.413,0 -9.025,0c-0.777,0 -1.523,0.309 -2.073,0.859c-0.55,0.549 -0.858,1.295 -0.858,2.072c0,2.698 0,6.679 0,9.376c0,0.778 0.308,1.524 0.858,2.073c0.55,0.55 1.296,0.859 2.073,0.859c2.612,0 6.413,0 9.025,0c0.778,0 1.523,-0.309 2.073,-0.859c0.55,-0.549 0.859,-1.295 0.859,-2.073c0,-2.697 0,-6.678 0,-9.376Z" style="fill:#1d61e1;fill-opacity:0.290196;"></path></g></svg>
                    }

                    @if(Model.ContentType == ContentType.Voice)
                    {
                        <svg viewBox="0 0 256 256" width="35" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M35.34,42.231c5.91,0.088 12.356,0.707 18.631,0.997c0,0 5.633,1.484 5.722,5.872c0.064,3.169 -2.732,6.128 -6.01,6.122c-5.929,-0.011 -12.148,-0.672 -18.097,-0.981c-2.209,-0.094 -4.985,0.497 -5.706,1.972c0,0 -0.006,11.891 -0.006,11.891c0,0 -2.022,7.169 -7.447,5.821c-2.576,-0.64 -4.494,-3.144 -4.553,-5.825l0.004,-11.972c0.075,-8.083 9.037,-13.943 17.462,-13.897Z" style="fill:#1d61e1;fill-opacity:0.290196;fill-rule:nonzero;"></path><path d="M231.079,155.415c0.978,0.043 1.271,0.136 1.822,0.326c2.369,0.817 3.981,2.798 4.044,5.674l-0.003,11.972c-0.079,8.426 -9.974,14.304 -18.477,13.863c-5.863,-0.358 -11.74,-0.691 -17.617,-0.963c0,0 -4.512,-1.008 -5.48,-4.302c-1.038,-3.535 1.834,-7.699 5.768,-7.691c5.929,0.011 12.148,0.671 18.098,0.98c2.206,0.094 4.984,-0.497 5.705,-1.971c0,0 0.006,-11.891 0.006,-11.891c0,0 0.959,-5.781 5.869,-5.997c0.088,0 0.177,0 0.265,0Z" style="fill:#1d61e1;fill-opacity:0.290196;fill-rule:nonzero;"></path><path d="M100.706,199.292c-24.359,0.84 -48.585,2.928 -72.448,6.347c-1.556,0.222 -3.733,0.54 -3.733,0.54c-11.662,1.38 -23.352,-8.08 -23.607,-20.551c-0.289,-42.436 -0.002,-84.769 0.003,-127.122l0.002,-14.221c0,0 0.128,-4.078 1.299,-7.251c3.154,-8.542 12.267,-14.419 21.588,-13.636c66.139,6.435 133.708,6.73 200.217,0.695c2.744,-0.249 5.486,-0.518 8.227,-0.776c0,0 0.702,-0.094 2.21,-0.076c10.783,0.265 20.396,9.542 20.618,20.719c0.309,47.21 0.003,94.335 -0.011,141.532c0,0 -0.134,4.181 -1.363,7.421c-3.307,8.722 -12.862,14.558 -22.376,13.365c-26.207,-3.649 -52.741,-5.999 -79.307,-6.943l0.001,0.044l0,5.878c15.996,2.139 31.752,6.107 46.937,11.438c0,0 4.243,1.819 4.555,5.332c0.319,3.603 -3.267,7.006 -6.871,6.463c-1.716,-0.259 -1.996,-0.591 -2.79,-0.868c-42.618,-14.74 -89.902,-16.767 -133.209,0.508c0,0 -3.387,0.814 -5.473,-0.53c-3.702,-2.386 -3.549,-8.8 1.549,-10.825c14.217,-5.646 28.976,-9.52 43.979,-11.576l0,-5.82l0.003,-0.087Zm133.305,-164.054c-6.231,0.092 -13.359,1.223 -20.194,1.774c-60.569,4.884 -121.882,4.784 -182.565,-0.838c-4.004,-0.371 -8.257,-1.521 -11.787,-0.521c-3.694,1.046 -6.463,4.625 -6.541,8.533c-0.312,47.102 -0.328,94.181 -0.007,141.278c0.103,5.025 4.817,9.434 10.116,8.807c17.904,-2.367 35.924,-4.614 54.005,-5.87c50.801,-3.53 101.921,-1.466 152.431,5.499c6.12,0.844 13.448,-0.767 13.602,-8.306c0.316,-47.083 0.321,-94.277 0.012,-141.476c-0.092,-4.603 -3.973,-8.697 -8.718,-8.876c-0.118,-0.003 -0.236,-0.004 -0.354,-0.004Z" style="fill:#1d61e1;fill-rule:nonzero;"></path><circle cx="128" cy="115.258" r="46.156" style="fill:#1d61e1;fill-opacity:0.290196;"></circle><path d="M128.336,63.103c19.003,0.181 37.448,11.518 46.107,28.413c7.249,14.144 7.526,31.683 0.7,46.065c-11.141,23.471 -41.263,36.436 -66.853,25.973c-16.693,-6.826 -29.278,-22.841 -31.893,-40.688c-2.391,-16.314 3.491,-33.649 15.399,-45.139c9.43,-9.099 22.236,-14.41 35.532,-14.621c0.336,-0.003 0.672,-0.004 1.008,-0.003Zm-0.596,12c-18.313,0.174 -35.389,14.05 -39.079,32.062c-2.683,13.095 1.702,27.453 11.294,36.82c11.083,10.821 28.666,14.41 43.214,8.461c16.928,-6.922 27.662,-26.479 24.314,-44.545c-3.324,-17.934 -20.139,-32.38 -38.704,-32.792c-0.346,-0.005 -0.693,-0.007 -1.039,-0.006Z" style="fill:#1d61e1;fill-rule:nonzero;"></path><path d="M113.256,90.44c0.815,0.067 1.6,0.275 2.343,0.623l40.23,20.115c3.826,2.038 4.442,8.227 0.272,10.588c-0.089,0.051 -0.182,0.097 -0.272,0.145l-40.23,20.115c-2.475,1.16 -3.069,0.726 -4.158,0.449c-2.594,-0.658 -4.447,-2.736 -4.525,-5.816l0,-40.229c0.025,-0.993 0.109,-1.269 0.277,-1.803c0.772,-2.45 2.746,-4.138 5.758,-4.197c0.102,0.003 0.203,0.006 0.305,0.01Z" style="fill:#1d61e1;"></path></g></svg>
                    }

                    @if(Model.ContentType == ContentType.Text_Video)
                    {
                        <svg viewBox="0 0 256 256" width="35" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M233.798,29.928c10.774,0.205 20.514,9.405 20.729,20.729c0.076,12.048 0.056,24.096 0,36.145c-0.115,8.32 -5.528,15.579 -13.089,19.29c-14.914,7.506 -17.599,33.765 -1.027,43.268c2.377,1.363 4.929,2.455 6.989,4.267c4.42,3.89 7.045,9.697 7.125,15.572c0.056,11.964 0.003,23.929 0.003,35.893c-0.069,10.927 -9.273,20.762 -20.73,20.98c-70.447,0.445 -140.897,0.001 -211.345,0.001c-10.911,-0.068 -20.765,-9.405 -20.98,-20.73c-0.076,-12.048 -0.056,-24.096 0,-36.145c0.114,-8.317 5.544,-15.586 13.089,-19.29c14.916,-7.506 17.598,-33.766 1.027,-43.268c-2.324,-1.332 -4.82,-2.391 -6.847,-4.144c-4.496,-3.885 -7.185,-9.711 -7.268,-15.695c-0.054,-11.964 -0.002,-23.929 -0.002,-35.893c0.069,-10.909 9.405,-20.765 20.73,-20.98c70.531,-0.446 141.065,-0.446 211.596,0Zm-211.307,11.999c-4.706,0.029 -8.926,4.001 -9.018,8.882c-0.076,11.982 -0.163,23.971 0.002,35.965c0.08,3.483 2.32,6.684 5.582,8.166c1.131,0.527 1.19,0.573 1.681,0.835c18.999,10.162 24.499,40.081 9.022,57.33c-3.207,3.573 -7.392,6.136 -11.574,8.374c-2.815,1.539 -4.669,4.617 -4.714,7.83c-0.055,11.961 -0.075,23.922 0.001,35.882c0.088,4.641 4.068,8.79 8.881,8.882c70.429,0.444 140.863,0.444 211.292,0c4.635,-0.089 8.79,-4.069 8.881,-8.882c0.076,-11.982 0.161,-23.971 -0.002,-35.966c-0.08,-3.492 -2.32,-6.683 -5.582,-8.165c-1.136,-0.529 -1.191,-0.573 -1.681,-0.835c-18.902,-10.11 -24.562,-39.696 -9.23,-57.096c3.148,-3.572 7.032,-6.326 11.415,-8.42c3.027,-1.48 5.035,-4.673 5.081,-8.018c0.055,-11.961 0.075,-23.922 -0.001,-35.882c-0.088,-4.641 -4.068,-8.79 -8.881,-8.882c-70.384,-0.445 -140.77,0 -211.155,0Z" style="fill:#1d61e1;fill-rule:nonzero;"></path><path d="M128,66.462l14.699,45.238l47.566,0l-38.482,27.959l14.699,45.238l-38.482,-27.959l-38.482,27.959l14.699,-45.238l-38.482,-27.959l47.566,0l14.699,-45.238Z" style="fill:#1d61e1;fill-opacity:0.286275;"></path><path d="M128.538,60.486c2.349,0.318 4.316,1.851 5.168,4.122l13.352,41.092l43.207,0c0,0 4.186,0.527 5.517,3.642c1.057,2.471 0.168,5.491 -1.99,7.212l-34.955,25.397l13.351,41.092c0,0 0.68,3.857 -1.369,6c-1.983,2.074 -5.409,2.329 -7.864,0.708l-34.955,-25.396l-34.955,25.396c0,0 -2.578,1.632 -5.123,0.93c-3.1,-0.856 -4.994,-4.435 -4.11,-7.638l13.351,-41.092l-34.955,-25.397c0,0 -2.837,-2.574 -2.419,-5.659c0.338,-2.491 2.394,-4.648 4.875,-5.099c0.471,-0.085 0.594,-0.075 1.071,-0.096l43.207,0l13.352,-41.092c0,0 2.346,-4.297 6.244,-4.122Zm-9.53,53.068c-0.902,2.403 -3.109,4.029 -5.707,4.146l-29.1,0l23.543,17.105c0,0 3.134,3.248 2.179,6.708l-8.992,27.676l23.542,-17.105c0,0 4.058,-1.977 7.054,0l23.542,17.105l-8.992,-27.676c0,0 -0.627,-4.471 2.179,-6.708l23.543,-17.105l-29.1,0c0,0 -4.445,-0.786 -5.707,-4.146l-8.992,-27.676c-2.997,9.226 -5.995,18.451 -8.992,27.676Z" style="fill:#1d61e1;fill-rule:nonzero;"></path></g></svg>
                    }
                    <span class="whitespace-nowrap">
                        @Model.ContentType
                    </span>


                </div>





            </div>

            <div class="mt-10">
                @Html.Raw(@Model.Content)
            </div>


            <div class="accordion mt-20">
    @foreach (var chapter in Model.Chapters)
    {
        <div class="collapse-arrow bg-base-200 collapse mt-5">
            <input type="radio" name="chapter-accordion" id="chapter-@chapter.ChapterId" />
            <div class="collapse-title text-xl font-medium">
                @chapter.Title
            </div>
            <div class="collapse-content">
                @if (chapter.ChapterItems.Any())
                {
                    <ul>
                        @foreach (var item in chapter.ChapterItems)
                        {
                            <li>
                                <div class="collapse-title text-lg font-semibold">
                                    @item.Title
                                    <br />
                                   <p class="text-sm font-normal text-gray-400">@item.Content</p>
                                </div>
                                
                               
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <p>No items available in this chapter.</p>
                }
            </div>
        </div>
    }
</div>




          @*   <h3>Chapters</h3>
            @if (Model.Chapters.Any())
            {
                <ul>
                    @foreach (var chapter in Model.Chapters)
                    {
                        <li>
                            <strong>@chapter.Title</strong> (@chapter.Duration min)
                            <ul>
                                @foreach (var item in chapter.ChapterItems)
                                {
                                    <li>
                                        <strong>@item.Title:</strong> @item.Content
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                </ul>
            }
            else
            {
                <p>No chapters available for this course.</p>
            } *@
@* 
            <div class="mx-10 mb-10 mt-20 flex flex-row gap-5">


                @foreach (var tag in Model.Tags)
                {
                    <div class="badge badge-accent">   @tag</div>


                }


            </div> *@



        </div>





    </div>

    <div class="col-span-3 fixed left-10 top-10">
        @* image of post  *@

        <div class="flex flex-row items-center justify-center">
            <img src="@Model.ImageUrl" class="mt-16 h-[450px] w-[450px] rounded-2xl" />
        </div>
    </div>



</div>

@* <h1>@Model.Title</h1>
<p><strong>Category:</strong> @Model.CategoryName</p>
<p><strong>Duration:</strong> @Model.Duration</p>
<p><strong>Level:</strong> @Model.Lavel</p>
<p><strong>Content Type:</strong> @Model.ContentType</p>
<p><strong>Created At:</strong> @Model.CreatedAt.ToString("g")</p>

@if (!string.IsNullOrEmpty(Model.ImageUrl))
{
    <img src="@Model.ImageUrl" alt="@Model.Title" style="max-width: 300px;" />
}

<h2>Content</h2>
<p>@Model.Content</p>

<h3>Chapters</h3>
@if (Model.Chapters.Any())
{
    <ul>
        @foreach (var chapter in Model.Chapters)
        {
            <li>
                <strong>@chapter.Title</strong> (@chapter.Duration min)
                <ul>
                    @foreach (var item in chapter.ChapterItems)
                    {
                        <li>
                            <strong>@item.Title:</strong> @item.Content
                        </li>
                    }
                </ul>
            </li>
        }
    </ul>
}
else
{
    <p>No chapters available for this course.</p>
}
 *@